html {
  font-family: "Bai Jamjuree";
}

body {
  background-image: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1.8rem;
  font-weight: $font-weight-s;
  color: $dark-grayish-blue;
  text-align: center;
  line-height: 1.5;
  padding-top: 6rem;
}

main {
  padding: 0 3.4rem;
  max-width: 768px;
  margin: auto;
}

.attribution {
  position: absolute;
  top: 85%;
}
