html {
  font-family: "Bai Jamjuree";
}

body {
  font-size: 1.8rem;
  font-weight: $font-weight-s;
  color: $dark-grayish-blue;
  text-align: center;
  line-height: 1.5;
  padding: 3.4rem;

  h1 {
    font-size: 3rem;
    font-weight: $font-weight-m;
  }

  h2 {
    font-size: 2.6rem;
    font-weight: $font-weight-m;
  }

  h3 {
    font-size: 2.4rem;
    font-weight: $font-weight-m;
  }
  p {
    font-size: 1.6rem;
    color: $grayish-blue;
  }
  img {
    width: 100%;
  }
}
