html {
  font-family: "Bai Jamjuree";
}

body {
  font-size: 1.8rem;
  font-weight: $font-weight-s;
  color: $dark-grayish-blue;
  text-align: center;
  line-height: 1.5;
  padding-top: 6rem;
}

main {
  padding: 0 3.4rem;
}

.attribution {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 99%;
}
