// Colors
$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);
$transparent-grayish-blue: hsla(201, 11%, 66%, 0.1);

// Font Weights
$font-weight-m: 600;
$font-weight-s: 400;
