html {
  font-family: "Bai Jamjuree";
}

body {
  font-size: 1.8rem;
  font-weight: 400;
  color: hsl(210, 10%, 33%);
  text-align: center;
  line-height: 1.5;
  padding-top: 6rem;
}

main {
  padding: 0 3.4rem;
}

.attribution {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 99%;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
}

p {
  font-size: 1.6rem;
  color: hsl(201, 11%, 66%);
}

img {
  width: 100%;
}

.content-section {
  margin: 17rem 0;
}

.hero {
  text-align: center;
  margin: 5rem 0;
}
.hero img {
  width: 12rem;
  margin-bottom: 4rem;
}
.hero h1 {
  margin: 1rem 0;
}

.cloud-section p {
  margin: 1rem 0;
}
.cloud-section img {
  margin-top: 5rem;
}

.cloud-feature {
  margin: 5rem 0;
}

.global-access-section {
  margin-bottom: 10rem;
}
.global-access-section img {
  margin-top: 6rem;
}

.tools-section {
  margin-top: 10rem;
}

.tools-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 0;
}
.tools-card h3 {
  margin: 4rem 0 2rem 0;
}
.tools-card img {
  width: 5rem;
}

.logos-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 45rem;
}
.logos-section img {
  width: 12rem;
}

.download-buttons {
  margin: 5rem 0;
}
.download-buttons div {
  color: white;
  padding: 1.2rem;
  margin: 2.5rem 0;
  border-radius: 36rem;
}
.download-buttons .ios-download-button {
  background-color: hsl(171, 66%, 44%);
  transition: 0.1s ease-in-out;
}
.download-buttons .ios-download-button:hover {
  background-color: hsla(171, 66%, 44%, 0.8);
}
.download-buttons .mac-download-button {
  background-color: hsl(233, 100%, 69%);
  transition: 0.1s ease-in-out;
}
.download-buttons .mac-download-button:hover {
  background-color: hsla(233, 100%, 69%, 0.8);
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: hsla(201, 11%, 66%, 0.1);
  padding: 5rem 0;
}
footer img {
  width: 5rem;
}
footer li {
  margin: 2.5rem 0;
}
footer li:hover {
  color: hsl(171, 66%, 44%);
}

.footer-socials {
  margin-top: 3rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-socials img {
  width: 2.5rem;
}
.footer-socials img:hover {
  filter: brightness(0) saturate(100%) invert(71%) sepia(14%) saturate(2197%) hue-rotate(120deg) brightness(86%) contrast(80%);
}

@media (min-width: 768px) {
  main {
    padding: 0;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  p {
    font-size: 1.8rem;
    max-width: 65rem;
  }
  .content-section {
    margin: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero p {
    max-width: 65rem;
  }
  .download-buttons {
    display: flex;
    justify-content: center;
  }
  .download-buttons a {
    margin: 0 1rem;
    width: 20rem;
  }
  .cloud-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cloud-description {
    display: flex;
    align-items: center;
  }
  .cloud-description img {
    width: 60%;
    margin-right: 3.4rem;
  }
  .cloud-feature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3rem 0;
    max-width: 38rem;
  }
  .cloud-feature p {
    text-align: left;
  }
  .global-access-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .global-access-section img {
    width: 60%;
  }
  .tools-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .all-tools-cards {
    display: flex;
    width: 80%;
  }
  .logos-section {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10rem;
  }
  .logos-section .logo {
    margin: 0 5rem;
  }
  .call-to-action {
    display: flex;
  }
  footer {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 15rem;
    padding: 2rem 10rem;
  }
  .footer-links {
    display: flex;
    flex-flow: column no-wrap;
  }
  .footer-socials {
    margin: 0;
  }
}/*# sourceMappingURL=main.css.map */